@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

@import "tailwindcss";
body {

  background-image: url("./assets/img/bg6.png");

}

.cham-logo {
  font-family: 'Itim', cursive;
  font-size: 2rem;        /* tuỳ chỉnh theo kích thước */
  font-weight: 400;       /* nếu font có nhiều weight */
  color: #735240;          /* màu chữ bạn muốn */
  letter-spacing: 0.05em;  /* nếu muốn khoảng cách chữ rộng chút */
  /* Option: thêm shadow nhẹ hoặc stroke nếu cần */
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}